// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

include "input.kdl"
include "output.kdl"
include "layout.kdl"
include "startup.kdl"
include "wallpaper.kdl"
include "windowrule.kdl"
include "bind.kdl"
include "misc.kdl"
include "workspace.kdl"